<div class="modal-header">
    <h4 class="modal-title">Event: {{ eventTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h5>Duration in minutes: {{ duration }}</h5>

    <h5>Participants:</h5>
    <ul class="event-participants">
        <li *ngFor="let participant of participants">
            {{participant.firstName}} {{participant.lastName}}
        </li>
    </ul>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="accept()">Ok</button>
</div>